.board-container {
  position: relative;
  width: 759px; /* 棋盤總寬度 */
  height: 759px; /* 棋盤總高度 */
}

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 75px); /* 格子寬度 */
  grid-template-rows: repeat(10, 75px); /* 格子高度 */
  gap: 1px;
  background-color: #821515;
}

.cell {
  width: 75px;
  height: 75px;
  background-color: #6c757d; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.empty-cell {
  width: 75px;
  height: 75px;
  background-color: #000000; 
}

.piece {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: top 0.5s ease, left 0.5s ease; /* 平滑移動效果 */
}

.final-button{
  position: absolute;
  top: 0px;
  right: -150px;
  width: 100px;
  height: 100px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden; /* 確保圖片不會超出按鈕範圍 */
  display: flex;
  align-items: center; /* 水平置中圖片 */
  justify-content: center; /* 垂直置中圖片 */
}

.backpack-button{
  position: absolute;
  top: 0px;
  left: -150px;
  width: 100px;
  height: 100px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden; /* 確保圖片不會超出按鈕範圍 */
  display: flex;
  align-items: center; /* 水平置中圖片 */
  justify-content: center; /* 垂直置中圖片 */
}

.dice-button {
  position: absolute;
  bottom: 0px;
  right: -150px;
  width: 100px;
  height: 100px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden; /* 確保圖片不會超出按鈕範圍 */
  display: flex;
  align-items: center; /* 水平置中圖片 */
  justify-content: center; /* 垂直置中圖片 */
}

.backpack-image, .dice-image, .final-image {
  max-width: 100%; /* 圖片最大寬度為按鈕寬度 */
  max-height: 100%; /* 圖片最大高度為按鈕高度 */
  object-fit: cover; /* 確保圖片內容被裁剪適配按鈕 */
  border-radius: 50%; /* 確保圖片形狀與按鈕一致 */
}

.event-box, .backpack-box, .shop-box, .final-box {
  position: fixed;       /* 讓它浮在螢幕上方，不隨滾動移動 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  /* 半透明遮罩 */
  display: flex;
  flex-direction: column; /* 讓子元素上下排列 */
  align-items: center;
  justify-content: center;
  z-index: 1000;         /* 保證它蓋在其他元素上 */
}

.event-msg {
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
}

.question-options, .question-option, .event-options, .event-option, .event-popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
}

.shop, .backpack, .equipment, .final, .eventResult {
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
}

.close-shop, .rest, .close-backpack, .close-event, .close-final, .close-battle {
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
}

.finallist {
  flex: 1;
  margin-bottom: 10px;
  overflow-y: auto; 
  overflow-x: hidden; 
  word-wrap: break-word; 
  white-space: pre-wrap; 
}

.item {
  cursor: 'pointer'
}